SOURCE_SERVICE_ACCOUNT_PATH=./credentials/source-project-service-account.json
TARGET_SERVICE_ACCOUNT_PATH=./credentials/chancessayethv1-target-service-account.json

# Use explicit DB IDs if not using "(default)".
# Example:
SOURCE_FIRESTORE_DATABASE_ID=(default)
TARGET_FIRESTORE_DATABASE_ID=(default)

# Safe defaults
MIGRATION_BATCH_SIZE=300
MIGRATION_PAGE_SIZE=400
